.container-movements {
  color: rgba(238, 251, 252, 1);
  overflow-y: scroll;
  height: 66vh;
  margin-bottom: 10px;
}

.container-accordion {
  display: flex;
  flex-direction: column;
  width: 45%;
  color: rgba(238, 251, 252, 1);
}

.MuiAccordion-root {
  height: max-content;
  display: flex;
  flex-direction: column;
}

.MuiAccordionSummary-content {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container-movements h1 {
  margin-bottom: 13px;
}

.container-movement-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 720px;
}

.movement-item-right-title {
  color: rgba(128, 132, 132, 1);
  font-size: 20px;
  padding-top: 10px;
  margin-left: 8%;
}

.movement-item-right {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.movement-item-right p {
  color: rgba(128, 132, 132, 1);
  font-size: 15px;
  padding-top: 10px;
}

.movement-item-right div:nth-of-type(1) {
  color:rgba(242, 71, 38, 1);
  font-size: 15px;
  font-weight: 600;
}

.movement-item-right div:nth-of-type(2) {
  color: rgb(96, 95, 95);
  font-size: 15px;
  font-weight: 600;
}

.movement-item-right div:nth-of-type(3) {
  color: rgba(143, 209, 79, 1);
  font-size: 15px;
  font-weight: 600;
}

.container-describe {
  padding: 5px 0 5px 20px;
}

.container-describe p:nth-of-type(1) {
  color:rgba(41, 53, 54, 1);
  font-size: 15px;
}

.container-describe h5:nth-of-type(1) {
  color:rgba(41, 53, 54, 1);
  font-size: 30px;
}

.container-describe h5:nth-of-type(2) {
  color:rgba(242, 71, 38, 1);
  font-size: 30px;
}

.container-describe h5:nth-of-type(3) {
  color: rgba(41, 53, 54, 1);
  font-size: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: center;
}
