.container-nav {
  display: flex;
  gap: 30px;
  background-color: rgba(45, 155, 240, 1);
  border-bottom: 8px solid rgba(65, 75, 178, 1);
  border-radius: 5px 50px 50px 10px;
  width: 50%;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  padding: 10px;
}

.link-nav {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 30px;
  font-weight: 1000;
}