.container-report {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 40px 40px;
}

.container-report div {
    border: 2px solid black;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
    width: 160px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-report h5 {
  font-size: 25px;
  font-weight: 600;
}

.container-report div:nth-child(1) {
  background-color: rgba(254, 244, 69, 1);
}

.container-report div:nth-child(2) {
  background-color: rgba(128, 128, 128, 1);
}

.container-report div:nth-child(3) {
  background-color: rgba(206, 231, 65, 1);
}

.container-report div:nth-child(4) {
  background-color: rgba(242, 71, 38, 1);
}