* {
  padding: 0;
  margin: 0;
}

.container-home {
  height: 100vh;
  background-color: rgba(18, 205, 212, 1);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.container-mainContent {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.container-graphic-movements {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
