* {
  padding: 0;
  margin: 0;
}

.container-home {
  height: 100vh;
  background-color: rgba(18, 205, 212, 1);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.container-graphic-movements {
  display: flex;
  justify-content: space-evenly;
}